# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ide
/.idea

# dependencies
**/node_modules
/.pnp
.pnp.js
yarn.lock

# testing
**/coverage
**/.sonar
**/.scannerwork

# production
/build
/dist

# misc
.DS_Store
.env*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dependency-check-*

/components
.bitmap
.eslintcache
