.filters {
  color: #0f0900;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: transparent;
  margin-bottom: 2rem;
  min-width: 300px;

  #standard-basic-label {
    position: relative;
    transform: scale(1);
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 100%;
    padding: 0 0.375rem;
  }

  &__dropdown {
    position: relative;
    width: 100%;
  }

  &__arrow {
    &--open {
      transform: rotate(-180deg);
      transition: transform 0.3s ease-in-out;
    }

    &--close {
      transform: rotate(0deg);
      transition: transform 0.3s ease-in-out;
    }
  }

  &__input {
    width: 100% !important;

    input {
      font-family: ClanOTNarrow, Arial, sans-serif !important;
      font-size: 1rem;
      cursor: pointer !important;
    }

    &__inner {
      cursor: pointer !important;
      padding: 0.5rem 0;
      color: #0f0900 !important;
      margin-top: 0.25rem !important;
      border-bottom: 2px solid;
    }
  }

  &__list {
    position: absolute;
    background: #feffe4;
    right: 0;
    left: 0;
    top: 100%;
    max-width: 100%;
    padding: 0;
    color: inherit;
    z-index: 7;

    li {
      color: inherit;
      list-style: none;
      border-bottom: 1px solid #0f0900;

      label {
        font-family: ClanOTNarrow, Arial, sans-serif;
        font-size: 1rem;
        color: #0f0900 !important;
        display: flex;
        align-items: center;
        justify-content: space-between;

        cursor: pointer;
        width: 100%;
        padding: 0.5rem;
        // padding-left: 2rem;
        margin-bottom: 0;

        span {
          color: #0f0900 !important;
          padding: 0 !important;
          margin-left: 0.25rem;
        }
      }
    }
  }
}
