.no-data {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #fff;
  min-height: 80vh;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 960px;
  }

  &__header {
    margin-bottom: 1rem !important;
    word-wrap: break-word;
    text-align: center;
  }

  &__rich-text {
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'GTWalsheimPro-Bold', Arial, sans-serif;
    }
    h2 {
      font-size: 1.75rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.25rem;
      letter-spacing: 0.065em;
      color: inherit;
      margin-top: 2rem;
      margin-bottom: 0.25rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.75rem;
      letter-spacing: 0.065em;
      color: inherit;
      margin-top: 2rem;
      margin-bottom: 0.25rem;
    }

    h4 {
      font-size: 1.313rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2rem;
      letter-spacing: 0.07875em;
      color: inherit;
      margin-top: 2rem;
      margin-bottom: 0.25rem;
    }

    p {
      font-size: 1.125rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.875rem;
      letter-spacing: 0.075em;
      color: inherit;
      margin-bottom: 0.5rem;
    }

    ul,
    ol {
      margin: 1rem 0;
    }

    li {
      margin: 0.25rem 0;
    }
  }
}
